// Navigation code here
.navigation{
    display: flex;
    background-color: @nav-bg;
    align-items: center;
    padding-bottom: 3%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: .2rem solid @main-border-color;
    h1{
    padding-bottom: 2%;
    font-size: 4rem;
    }

    div {
        display: flex;
        justify-content: space-around;
        font-size: 1.6rem;
        width: 65%;

        a{
            text-decoration: none;
            color: @header-font-color;
            padding: 1%;
            font-weight: 500;
            font-style: @nav-font;
        }
    }
}